#posterHomepage {
  background: url('https://images5.alphacoders.com/101/thumb-1920-1013630.jpg');
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 100vw;
  height: 100vh;
  text-align: center;
}


